version: "3.3"

services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_volume_data:/data   # list

  redis_insight:
    image: redis/redisinsight:2.56.0
    container_name: redis_insight
    restart: always
    ports:
      - "8081:8001"
    volumes:
      - redis_insight_volume_data:/data   # list

volumes:
  redis_volume_data: {}               # mapping
  redis_insight_volume_data: {}       # mapping
